# Groupby

In [ ]:
#Groupby, agg, sum,count,mean,median,std,var
# one-variable, two-variable & multiple variables
#cross tabulation,frequency tables
#df.groupby().[].agg()

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\ppulivarthi\AV_Hackthons\HR_Analytics\train_LZdllcl.csv")

In [4]:
df=pd.read_csv(r"C:\Users\ppulivarthi\AV_Hackthons\Janatahack Healthcare Analytics II\train.csv")

In [5]:
df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [6]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [ ]:
df.groupby("column variable")[""].mathematical
df.groupby("column variable")[""].agg()

In [8]:
# df.head()
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [9]:
df.groupby('Type of Admission')['Severity of Illness'].count()

Type of Admission
Emergency    117676
Trauma       152261
Urgent        48501
Name: Severity of Illness, dtype: int64

In [10]:
df.groupby('Type of Admission').agg({ 'Severity of Illness' : ["count"]} )

                  Severity of Illness
                                count
Type of Admission
Emergency                      117676
Trauma                         152261
Urgent                          48501

In [11]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [ ]:
#'Type of Admission' wise,'Severity of Illness' wise 'Admission_Deposit' statistics

In [12]:
df.groupby(['Type of Admission','Severity of Illness'])['Admission_Deposit'].sum()

Type of Admission  Severity of Illness
Emergency          Extreme                 91551256.0
                   Minor                  173179612.0
                   Moderate               296386028.0
Trauma             Extreme                140229814.0
                   Minor                  187225361.0
                   Moderate               431816584.0
Urgent             Extreme                 37522072.0
                   Minor                   67430058.0
                   Moderate               128875290.0
Name: Admission_Deposit, dtype: float64

In [15]:
df.groupby(['Type of Admission','Severity of Illness']).agg({"Admission_Deposit" : ["count","sum","mean","median","std","skew"]})

                                      Admission_Deposit               \
                                                  count          sum
Type of Admission Severity of Illness
Emergency         Extreme                         19844   91551256.0
                  Minor                           35356  173179612.0
                  Moderate                        62476  296386028.0
Trauma            Extreme                         28837  140229814.0
                  Minor                           36800  187225361.0
                  Moderate                        86624  431816584.0
Urgent            Extreme                          8042   37522072.0
                  Minor                           13716   67430058.0
                  Moderate                        26743  128875290.0

                                                                         \
                                              mean  median          std
Type of Admission Severity of Illness
Emergency         Extreme              4613.548478  4488.0  1052.318346
                  Minor                4898.167553  4785.0  1063.699579
                  Moderate             4743.998143  4622.0  1052.121211
Trauma            Extreme              4862.843361  4714.0  1081.723605
                  Minor                5087.645679  4939.0  1061.806764
                  Moderate             4984.953177  4828.0  1075.834542
Urgent            Extreme              4665.763740  4530.0  1123.069782
                  Minor                4916.160542  4748.0  1139.950378
                  Moderate             4819.028905  4645.0  1158.665453


                                           skew
Type of Admission Severity of Illness
Emergency         Extreme              0.916112
                  Minor                0.862337
                  Moderate             0.914767
Trauma            Extreme              1.043554
                  Minor                0.918712
                  Moderate             0.996409
Urgent            Extreme              0.954301
                  Minor                0.917664
                  Moderate             0.982359

In [16]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [17]:
df.groupby(['Type of Admission','Severity of Illness']).agg({"Admission_Deposit" : ["count","sum","mean","median","std","skew"], 'Visitors with Patient': ["mean","std","skew"] })

                                      Admission_Deposit               \
                                                  count          sum
Type of Admission Severity of Illness
Emergency         Extreme                         19844   91551256.0
                  Minor                           35356  173179612.0
                  Moderate                        62476  296386028.0
Trauma            Extreme                         28837  140229814.0
                  Minor                           36800  187225361.0
                  Moderate                        86624  431816584.0
Urgent            Extreme                          8042   37522072.0
                  Minor                           13716   67430058.0
                  Moderate                        26743  128875290.0

                                                                         \
                                              mean  median          std
Type of Admission Severity of Illness
Emergency         Extreme              4613.548478  4488.0  1052.318346
                  Minor                4898.167553  4785.0  1063.699579
                  Moderate             4743.998143  4622.0  1052.121211
Trauma            Extreme              4862.843361  4714.0  1081.723605
                  Minor                5087.645679  4939.0  1061.806764
                  Moderate             4984.953177  4828.0  1075.834542
Urgent            Extreme              4665.763740  4530.0  1123.069782
                  Minor                4916.160542  4748.0  1139.950378
                  Moderate             4819.028905  4645.0  1158.665453

                                                Visitors with Patient  \
                                           skew                  mean
Type of Admission Severity of Illness
Emergency         Extreme              0.916112              3.666247
                  Minor                0.862337              3.344496
                  Moderate             0.914767              3.487499
Trauma            Extreme              1.043554              3.380865
                  Minor                0.918712              3.133342
                  Moderate             0.996409              3.235835
Urgent            Extreme              0.954301              3.093882
                  Minor                0.917664              2.893774
                  Moderate             0.982359              2.962345


                                            std      skew
Type of Admission Severity of Illness
Emergency         Extreme              1.849889  2.779314
                  Minor                1.659640  2.609624
                  Moderate             1.762448  2.807402
Trauma            Extreme              2.054568  4.018704
                  Minor                1.628811  2.367068
                  Moderate             1.844225  3.532471
Urgent            Extreme              1.593659  2.758839
                  Minor                1.427817  2.404578
                  Moderate             1.462224  2.439410

In [ ]:
#filter columns by data types select_dtypes

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [22]:
df_char=df.select_dtypes(include='object')

In [24]:
df_char.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Hospital_type_code    318438 non-null  object
 1   Hospital_region_code  318438 non-null  object
 2   Department            318438 non-null  object
 3   Ward_Type             318438 non-null  object
 4   Ward_Facility_Code    318438 non-null  object
 5   Type of Admission     318438 non-null  object
 6   Severity of Illness   318438 non-null  object
 7   Age                   318438 non-null  object
 8   Stay                  318438 non-null  object
dtypes: object(9)
memory usage: 21.9+ MB

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [26]:
df_numeric=df.select_dtypes(include=[np.number])

In [27]:
df_numeric_int=df.select_dtypes(include='int64')
df_numeric_float=df.select_dtypes(include='float64')

In [30]:
df_numeric_float.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Bed Grade          318325 non-null  float64
 1   City_Code_Patient  313906 non-null  float64
 2   Admission_Deposit  318438 non-null  float64
dtypes: float64(3)
memory usage: 7.3 MB

In [29]:
df_numeric_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 6 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   City_Code_Hospital                 318438 non-null  int64
 3   Available Extra Rooms in Hospital  318438 non-null  int64
 4   patientid                          318438 non-null  int64
 5   Visitors with Patient              318438 non-null  int64
dtypes: int64(6)
memory usage: 14.6 MB

In [28]:
df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   City_Code_Hospital                 318438 non-null  int64
 3   Available Extra Rooms in Hospital  318438 non-null  int64
 4   Bed Grade                          318325 non-null  float64
 5   patientid                          318438 non-null  int64
 6   City_Code_Patient                  313906 non-null  float64
 7   Visitors with Patient              318438 non-null  int64
 8   Admission_Deposit                  318438 non-null  float64
dtypes: float64(3), int64(6)
memory usage: 21.9 MB

In [ ]:
#Bivariate:  pivot,corr(method=pearson/spearman),pivot(index,columns= values=)
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)

In [31]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [37]:
pd.pivot_table(df,values='Admission_Deposit',index='Type of Admission',columns='Severity of Illness',aggfunc=np.sum)

Severity of Illness      Extreme        Minor     Moderate
Type of Admission
Emergency             91551256.0  173179612.0  296386028.0
Trauma               140229814.0  187225361.0  431816584.0
Urgent                37522072.0   67430058.0  128875290.0

In [38]:
pd.pivot_table(df,values='Admission_Deposit',index=['Type of Admission','Severity of Illness'],aggfunc=np.sum)

                                       Admission_Deposit
Type of Admission Severity of Illness
Emergency         Extreme                     91551256.0
                  Minor                      173179612.0
                  Moderate                   296386028.0
Trauma            Extreme                    140229814.0
                  Minor                      187225361.0
                  Moderate                   431816584.0
Urgent            Extreme                     37522072.0
                  Minor                       67430058.0
                  Moderate                   128875290.0

In [39]:
pd.pivot_table(df,values='Admission_Deposit',index=['Type of Admission','Severity of Illness'],aggfunc=[np.sum,np.mean])

                                                    sum              mean
                                      Admission_Deposit Admission_Deposit
Type of Admission Severity of Illness
Emergency         Extreme                    91551256.0       4613.548478
                  Minor                     173179612.0       4898.167553
                  Moderate                  296386028.0       4743.998143
Trauma            Extreme                   140229814.0       4862.843361
                  Minor                     187225361.0       5087.645679
                  Moderate                  431816584.0       4984.953177
Urgent            Extreme                    37522072.0       4665.763740
                  Minor                      67430058.0       4916.160542
                  Moderate                  128875290.0       4819.028905

In [40]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [43]:
pd.pivot_table(df,values=['Admission_Deposit','Visitors with Patient'],index=['Type of Admission','Severity of Illness'],aggfunc=[np.sum,np.mean,np.std])

                                                    sum                        \
                                      Admission_Deposit Visitors with Patient
Type of Admission Severity of Illness
Emergency         Extreme                    91551256.0                 72753
                  Minor                     173179612.0                118248
                  Moderate                  296386028.0                217885
Trauma            Extreme                   140229814.0                 97494
                  Minor                     187225361.0                115307
                  Moderate                  431816584.0                280301
Urgent            Extreme                    37522072.0                 24881
                  Minor                      67430058.0                 39691
                  Moderate                  128875290.0                 79222

                                                   mean                        \
                                      Admission_Deposit Visitors with Patient
Type of Admission Severity of Illness
Emergency         Extreme                   4613.548478              3.666247
                  Minor                     4898.167553              3.344496
                  Moderate                  4743.998143              3.487499
Trauma            Extreme                   4862.843361              3.380865
                  Minor                     5087.645679              3.133342
                  Moderate                  4984.953177              3.235835
Urgent            Extreme                   4665.763740              3.093882
                  Minor                     4916.160542              2.893774
                  Moderate                  4819.028905              2.962345

                                                    std
                                      Admission_Deposit Visitors with Patient
Type of Admission Severity of Illness
Emergency         Extreme                   1052.318346              1.849889
                  Minor                     1063.699579              1.659640
                  Moderate                  1052.121211              1.762448
Trauma            Extreme                   1081.723605              2.054568
                  Minor                     1061.806764              1.628811
                  Moderate                  1075.834542              1.844225
Urgent            Extreme                   1123.069782              1.593659
                  Minor                     1139.950378              1.427817
                  Moderate                  1158.665453              1.462224

In [45]:
df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   City_Code_Hospital                 318438 non-null  int64
 3   Available Extra Rooms in Hospital  318438 non-null  int64
 4   Bed Grade                          318325 non-null  float64
 5   patientid                          318438 non-null  int64
 6   City_Code_Patient                  313906 non-null  float64
 7   Visitors with Patient              318438 non-null  int64
 8   Admission_Deposit                  318438 non-null  float64
dtypes: float64(3), int64(6)
memory usage: 21.9 MB

In [46]:
df_numeric.corr()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit
case_id,1.000000,-0.043023,-0.011352,0.042580,0.013702,-0.004150,0.065196,0.001309,-0.045972
Hospital_code,-0.043023,1.000000,0.128294,-0.059638,-0.013739,0.002291,-0.015530,-0.028500,0.045446
City_Code_Hospital,-0.011352,0.128294,1.000000,-0.045771,-0.049309,0.000750,-0.023988,0.018184,-0.034455
Available Extra Rooms in Hospital,0.042580,-0.059638,-0.045771,1.000000,-0.115868,0.000921,-0.009681,0.096714,-0.143739
Bed Grade,0.013702,-0.013739,-0.049309,-0.115868,1.000000,0.001645,-0.008105,0.088945,0.073833
patientid,-0.004150,0.002291,0.000750,0.000921,0.001645,1.000000,0.002002,0.006889,-0.000877
City_Code_Patient,0.065196,-0.015530,-0.023988,-0.009681,-0.008105,0.002002,1.000000,-0.012074,0.025837
Visitors with Patient,0.001309,-0.028500,0.018184,0.096714,0.088945,0.006889,-0.012074,1.000000,-0.150358
Admission_Deposit,-0.045972,0.045446,-0.034455,-0.143739,0.073833,-0.000877,0.025837,-0.150358,1.000000

In [47]:
df=pd.read_csv(r"C:\Users\ppulivarthi\AV_Hackthons\HR_Analytics\train_LZdllcl.csv")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [50]:
df_char=df.select_dtypes(include='object')

In [52]:
df_num=df.select_dtypes(include=[np.number])

In [53]:
df_num.corr()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
employee_id,1.000000,-0.005121,0.000437,0.004533,0.001274,-0.002501,0.008420,-0.000586,0.001206
no_of_trainings,-0.005121,1.000000,-0.081278,-0.063126,-0.057275,-0.045576,-0.007628,0.042517,-0.024896
age,0.000437,-0.081278,1.000000,0.006008,0.657111,-0.025592,-0.008169,-0.048380,-0.017166
previous_year_rating,0.004533,-0.063126,0.006008,1.000000,0.000253,0.351578,0.027738,0.075139,0.159320
length_of_service,0.001274,-0.057275,0.657111,0.000253,1.000000,-0.077693,-0.039927,-0.038122,-0.010670
KPIs_met >80%,-0.002501,-0.045576,-0.025592,0.351578,-0.077693,1.000000,0.097000,0.078391,0.221582
awards_won?,0.008420,-0.007628,-0.008169,0.027738,-0.039927,0.097000,1.000000,0.072138,0.195871
avg_training_score,-0.000586,0.042517,-0.048380,0.075139,-0.038122,0.078391,0.072138,1.000000,0.181147
is_promoted,0.001206,-0.024896,-0.017166,0.159320,-0.010670,0.221582,0.195871,0.181147,1.000000

In [78]:
# pd.pivot_table(df,values='Admission_Deposit' ,index='Severity of Illness',columns='Type of Admission' ,aggfunc=[np.sum,np.mean,np.median,np.ptp,np.count])